<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1039A091E1E975A0049E5B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1039A201E1E975B0049E5B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1039A2B1E1E975B0049E5B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
